$background: #1d2021;
$text: #ebdbb2;
$accent: #504945;

* {
    font-size: 12px;
}

.right-bar {
    font-size: 15px;
}

button {
    background: transparent;
    border: none;
    border-radius: 0px;
    box-shadow: none;
    color: $text;
    text-shadow: none;
}

.music-dropdown {
    padding: 7px 10px 7px 10px;
}

.music-info {
    padding: 35px 10px;
}

.active-song {
    font-size: 14px;
}

.active-workspace {
    color: $accent;
}

.music-image {
    background-size: cover;
    background-position: center;
    margin: 0px 10px;
    min-height: 20px;
    min-width: 20px;
    border-radius: 100px;
}

scale trough {
    all: unset;
    background-color: $background;
    border-radius: 5px;
    min-height: 3px;
    min-width: 10px;
    margin: 0 1px;
}

scale trough slider {
    background: transparent;
    outline-color: transparent;
    border-color: transparent;
    color: transparent;
    box-shadow: none;
}

scale trough highlight {
    background-color: $text;
}

.right-bar {
    label {
       padding: 0px 10px 0px 0px;
    }
}

.left-bar {
    margin: 0px 0px 0px 5px;
}

window {
    font-size: 12px;
    font-family: "Fira Code", "Font Awesome 5 Free";
    color: $text;
    background-color: $background;
}
